.portalContainer {
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color:rgb(25 25 25 / 86%);
}

.formContainer {
    width: 70%;
    height: 60vh;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 3px;
}

.hideModal {
    position: absolute;
    top: -1.5rem;
    right: -1.3rem;
    font-weight: bold;
    font-size: 1.7rem;
    color:#fff;
    border:1.5px solid #fff;
    background: white;
    padding: 0.1rem 0.8rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 100;
}



.hideModal:hover {
    background-color:#724ed4f0;
    box-shadow: inset 0 0 0 2px #fff;
    color:#fff;
}

.formEdit {
    width: 100%;
    height: 100%;
    color:#fff;
    padding:2rem 2.5rem;
    border-radius: 3px;
    overflow-y:auto;
    overflow-x: hidden;
}

.bgColor_purple, .ftn_color_purple {
    background-color:#724ed4f0;
}

.bgColor_red, .ftn_color_red {
    background-color: rgb(199 10 10 / 92%);
}

.bgColor_green, .ftn_color_green {
    background-color: rgb(13 165 13 / 92%);
}



.formEdit::-webkit-scrollbar {
    width: 6px;
}


.formEdit::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 0 10px #fff;
}

.formEdit::-webkit-scrollbar-thumb {
    border-radius: 4px;
    box-shadow: inset 0 0 0 5px #724ed494;;
}

.label {
    color:#fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.input {
    max-width:100%;
    border:none;
    flex-grow: 1;
    border-radius: 3px;
}

.ingredientItem {
    width: 50%;
}


.inputGroup {
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 7rem 1fr;
    gap:1rem;
}

.editBtn {
    border:none;
    color:#fff;
    border:1.5px solid #fff;
    transition: all 0.2s;
    font-weight: 600;
}



.editBtn:hover {
    border:none;
    color:#724ed4f0;
    border:1.5px solid #724ed4f0;
    background-color:#fff;
    padding:0.2rem 0.5rem;
}

.saveBtn {
    font-size: 1.4rem;
    padding: 0.2rem 1.4rem;
}

.addIngBtn {
    font-size: 1rem !important;
    padding: 0.2rem 0.4rem
}

.saveEditBtn {
    position: absolute;
    top:88%;
    left:50%;
    transform: translate(-50%, -50%);
}

.not_valid {
    background-color:#fe46349c;
}

/* Below 700px */
@media (max-width: 43.75rem) {
    .inputGroup {
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        gap:0.2rem
    }

    .hideModal {
        font-size: 1.2rem;
        padding: 0.3rem 0.8rem;
    }

    .addIngBtn {
        font-size: 0.8rem !important;
        padding: 0.2rem 0.3rem;
    }
    .saveBtn {
        font-size: 1.1rem;
        padding: 0.1rem 1.2rem;
    }

    .label {
        font-size: 1rem;
    }

    .input, .textarea {
        font-size: 0.9rem;
    }





}

/* Below 500px */
@media (max-width: 31.25rem) {
    .ingredientItem {
        width: 70%;
    }

    .formContainer {
        width: 90%;
    }

    .formEdit {
        padding:1rem 1.5rem;
    }

    .hideModal {
        font-size: 0.8rem;
        padding: 0.3rem 0.6rem;
        top: -1.2rem;
        right: -0.9rem;
    }

    .label {
        font-size: 0.9rem;
    }
}