.bg_purple {
    background-color:  #6743cc;
}

.bg_green {
    background-color: rgb(13 165 13 / 92%);;
}

.bg_red {
    background-color: rgb(199 10 10 / 92%);;
}



.myNavbar{
    padding:1rem !important;
    margin-bottom: 1.3rem;
    transition: background-color 0.4s;
}

.myNavbar_collapse {
    flex-grow: 0 !important;
}


.myNavbar_toggler{
    border: 1px solid white;
    width: 47px;
    height: 34px;
    border-radius: 5px;
    display: none;
    transition: background-color 0.4s;
}

.line{
    width: 100%;
    float: left;
    height: 1.5px;
    background-color: #fff;
    margin-bottom: 5px;
}


@media (max-width: 767px) {
    .myNavLink {
        margin-top: 1rem;
    }

    .myNavbar_toggler{
        display: block;
    }
}


@media (max-width: 467px) {

    .myNavLink {
        position: relative;
        padding-bottom: 3.7rem;
    }


    .myBtn_createRecipe {
        position:absolute;
        top:3.5rem;
        left:0
    }

}