.card {
    background-color: #fff;
    border-radius: 5px;
    max-width: 100%;
    height: 15.8rem;
    padding: 1rem 1.2rem;

    transition: transform 0.1s;
}


.card:hover {
    transform: rotate(-3deg);
}

/* .cardHeading,
.cookingDesc,
.cardBtn {
    color:hsl(0, 0%, 50%);
} */

.card_fc_lightBg {
    color:hsl(0, 0%, 50%);
}

.card_fc_darkBg {
    color:#fff;
    background-color: #808080;
}

.cardHeading {
    font-size:1.4rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.cookingTime {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.sub_head_fc_dark,
.sub_head_fc_light {
    font-weight: lighter;
}

.sub_head_fc_dark {
    color: #80808091;
}

.sub_head_fc_light {
    color: #fff
}


.cookingDesc {
    margin-bottom: 1.2rem;
    overflow: hidden;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.cardBtn {
    border:none;
    background-color:#80808045;
    border-radius: 3px;
    padding:0.3rem 1.2rem;
    display: block;
    margin: 0 auto;
    font-weight:500;
    color:hsl(0, 0%, 50%);
    font-weight:400;
}

.cardBtn_LightTheme {
    background-color: white; 
}
.cardBtn_LightTheme:hover {
    background-color:rgb(160, 160, 160);
    color:white;
}


.cardBtn_darkTheme {
    background-color: #80808045;
}
.cardBtn_darkTheme:hover {
    background-color: #acacac45;
}




@media (max-width:75rem) {
    .cardHeading {
        font-size:1.2rem;
    }
    .card {
        font-size: 14px;
    }
}

@media (max-width:48.12rem) {
    .cardHeading {
        font-size:1.2rem;
    }
    .card {
        font-size: 14px;
    }
}

@media (max-width:35.62rem) {
    .cardHeading {
        font-size:1.4rem;
    }
    .card {
        font-size: 15px;
    }
} 