.card {
    background-color: #fff;
    border-radius: 5px;
    width: 25rem;
    padding: 1rem 1.2rem;

    margin-top: 2rem;
}

.cardHeading,
.cookingDesc {
    color:#808080;
}

.cardHeading {
    color:#808080;
    font-size:1.4rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.cookingTime {
    color: #80808091;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.cookingDesc {
    margin-bottom: 1.2rem;
}

.cardBtn {
    border:none;
    background-color:#80808045;
    border-radius: 3px;
    color:#808080;
    padding:0.3rem 1.2rem;
    display: block;
    margin: 0 auto;
    font-weight:500;
}

.cardBtn:hover {
    background-color:#6c6c6c5a;
}